@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root selector --start */
:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    --main-color: #0d9488;
    --secondary-color: #115e59;
}
/* root selector --end */

/* html, body --start */
html, body {
    height: 100vh;
    min-width: 280px;
}
/* html, body --end */

/* give all button cursor pointer */
* > button:hover {
    cursor: pointer;
}

/* container class -- start */
.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 8fr / 1fr;
}
/* container class -- end */

/* header section --start */
header {
    max-height: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 5px #000;
    z-index: 1;
    padding: 20px;
}

header > p {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    background-color: #fff;
    color: var(--main-color);
}
/* header section --end */


/* main section --start */
main {
    height: 100%;
    background-color: #f1f5f9;
    display: grid;
    grid-template: 100px repeat(auto-fill, minmax(400px, 1fr))  / repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
}

main > p {
    align-self: center;
    display: grid;
    justify-items: center;
    font-size: 1.5rem;
    grid-column: 1 / -1;
    color: var(--secondary-color);
    font-weight: bold;
}

main > p > button {
    border-radius: 20px;
    font-size: 0.9rem;
    padding: 10px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    margin: 20px;
}

main > p > button:hover {
    background-color: var(--secondary-color);
}

.card {
    height: 400px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-left: 20px solid var(--secondary-color);
    border-radius: 20px 0 0 20px;
    padding: 10px;
    box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
    word-wrap: break-word;
    overflow: auto;
    color: #fff;
}

.card:has(input:checked) {
    background-color: #4ade80;
    color: var(--secondary-color);
}

.card > label > input {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    accent-color: #4ade80;
}

.card > label:hover {
    cursor: pointer;
}


.card > * { 
    font-weight: bold;
    height: 100%;
    padding: 10px;
    align-content: center;
}

.card > button {
    margin-top: 10px;
    height: 50%;
    border: none;
    align-self: end;
    align-content: center;
    border-radius: 5px;
    background: var(--secondary-color);
}

/* main section --end */


/* dialog modal --start */
dialog {
    margin: auto;
    max-width: 250px;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

dialog::backdrop {
    background-color: #000;
    opacity: 0.5;
}

dialog > form {
    display: grid;
    grid-template: 24px 1fr 1fr 1fr / 1fr;
    align-items: center;
    gap: 10px;
}

dialog > form > label {
    font-weight: bold;
    color: var(--secondary-color);
}

dialog > form > label > input:focus {
    outline: none;
}

dialog > form > label > input[type="text"], [type="number"] {
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 0.5px solid;
    font-size: 1rem;
}

dialog > form > label > input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    accent-color: var(--main-color);
}

dialog > form > .status:hover, input[type="checkbox"]:hover {
    cursor: pointer;
}

dialog .close, .ok {
    background: none;
    border: none;
    color: #fff;
}

dialog .close:focus {
    outline: none;
}

dialog .method {
    justify-self: end;
}
/* dialog modal --end */

/* Remove number input type arrows on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input type arrows on Firefox */
input[type=number] {
  -moz-appearance: textfield;
}